@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
:root{
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: white;
    --main-color: rgb(253, 92, 64);
}
/* Header Section */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 8%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color),0 0 75px var(--main-color);
}
span{
    color: var(--main-color);
}
span:hover{
    text-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color),0 0 75px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    position: relative;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid var(--main-color);
    transition: 0.3s linear;
}
.navbar a:hover{
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color),0 0 75px var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.navbar a:hover::before{
    width: 100%;
}

/* Home section */
section{
    min-height: 100vh;
    padding: 10rem 8%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    font-size: 4rem;
    margin: 1rem 0;
}
.home-content #element{
    font-size: 4.1rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    margin-top: 5rem;
    padding-bottom: 10px;
    padding-left: 5px;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color),0 0 75px var(--main-color);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 2rem 1rem;
    transition: 0.3s ease;
}
.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.1)translateY(-3px);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: black;
}

/* About section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}
.about-img img{
    width: 32vw;
    border-radius: 50%;
    padding-left: 5px;
    padding-bottom: 10px;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color),0 0 75px var(--main-color);
}
.about-content h2{
    font-size: 6rem;
    text-align: left;
    position: relative;
    top: -8rem;
}
.about-content p{
    font-size: 1.8rem;
    text-align: justify;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
body hr{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 2px;
    background-color: var(--main-color);
}

/* Services section */
.heading{
    text-align: center;
    font-size: 6rem;
    margin: 3rem 0;
}
.services{
    background-color: var(--bg-color);
    color: black;
}
.services h2{
    color: var(--text-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 400px;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 3px solid var(--main-color);
    transform: scale(1.03);
    box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color);
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.service-info i{
    font-size: 5rem;

}
.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
    line-height: 1.1;
}
.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
}

/* Skills Section */
.heading{
    text-align: center;
    font-size: 6rem;
    margin: 3rem 0;
    padding-bottom: 5rem;
}
.skills{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress-bar-container{
    position: relative;
}
.progress-bar-container i{
    font-size: 4rem;
    color: var(--main-color);
}
.progress-bar-container h2{
    font-size: 2rem;
}
.progress-bar{
    width: 600px;
    height: 15px;
    margin-top: 5px;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 15px var(--main-color);
    margin-bottom: 4rem;
}
.progress-bar p{
    font-size: 2rem;
    position: absolute;
    margin-top: -25px;
    width: 600px;
    text-align: end;
    color: var(--main-color);
    font-weight: 600;
}
.progress-bar #p1{
    margin-left: -50px;
}
.progress-bar #p2{
    margin-left: -100px;
}
.progress-bar #p3{
    margin-left: -220px;
}
.progress-bar #p4{
    margin-left: -245px;
}
.progress-bar #p5{
    text-align: center;
}
.percentage{
    display: block;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 2rem;
    animation: progressline 1200ms ease-in 1;
}
.html{
    width: 90%;
}
.css{
    width: 80%;
}
.javascript{
    width: 60%;
}
.java{
    width: 55%;
}
.c{
    width: 50%;
}

@keyframes progressline {
    from{
        width: 0;
    }
    /* to{
        width: 100;
    } */
}
/* Education Section */
.education{
    min-height: 100vh;
}
.education h2{
    margin-bottom: 5rem;
}
.education-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.education-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--main-color);
    left: calc(50% - 2px);
}
.education-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.education-item:last-child{
    margin-bottom: 0;
}
.education-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: left;
}
.education-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.education-dot{
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    /* top: 10px; */
}
.education-date{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 6px 0 15px;
}
.education-content{
    background-color: var(--main-color);
    padding: 25px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.education-content:hover{
    transform: scale(1.05);
}
.education-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 600;
}
.education-content p{
    color: white;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}
.education-content p strong{
    font-size: 20px;
}

/* Project Section */
.heading{
    text-align: center;
    font-size: 6rem;
    margin: 3rem 0;
}
.projects{
    background-color: var(--bg-color);
    color: black;
}
.projects h2{
    color: var(--text-color);
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    gap: 2.5rem;
}
.projects-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 500px;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.projects-box:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 3px solid var(--main-color);
    transform: scale(1.03);
    box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color);
}
.projects-info{
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.projects-info a i{
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: -100px;
}
.projects-info a i:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    text-decoration: underline;
}

.projects-info i{
    font-size: 5rem;
}
.projects-info h4 a:hover{
    text-decoration: underline;
    font-size: 4.1rem;
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color);
}
.projects-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
    line-height: 1.1;
    color: var(--main-color);
}
.projects-info h4 a{
    color: var(--text-color);
}
.projects-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
}
/* Contact Section */
.contact{
    background-color: var(--second-bg-color);
}
.contact{
    margin-bottom: 2rem;
    color: var(--text-color);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    text-align: center;
}
.contact form .input-box input, .contact form textarea{
    width: 80%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 1.5rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
input:focus,textarea:focus{
    box-shadow: 0 0 25px var(--main-color);
}
.input-group .btn:focus{
    background: transparent;
    color: var(--main-color);
}
/* Footer */
.footer{
    background-color: var(--bg-color);
    padding: 50px 0;
}
.footer .copyright{
    text-align: center;
    /* margin-top: 40px; */
    font-size: 2rem;
}
.footer:hover .copyright:hover{
    text-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color);
    transition: 0.3s ease-in-out;
    color: var(--main-color);
}


/* Media Queries for Responsive Web Design */
@media (max-width: 1120px) {  /*Max-width can be 1024px*/
    #menu-icon{
        display: block;
    }
    #menu-icon:hover{
        color: rgb(237, 61, 30);
        box-shadow: 0 0 25px var(--main-color),0 0 50px var(--main-color),0 0 75px var(--main-color);
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        padding: 1rem 1rem;
        background-color: rgba(0, 0, 0, 0.813);
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 1rem;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
        color: white;
    }
    .navbar.active{
        display: block;
        transition: 0.5s ease-in-out;
        text-align: center;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 52vw; 
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width: 52vw;
    }
    .progress-bar{
        width: 300px;
        height: 15px;
        margin-top: 5px;
        border: 2px solid var(--main-color);
        border-radius: 2rem;
        box-shadow: 0 0 15px var(--main-color);
        margin-bottom: 4rem;
    }
    .progress-bar p{
        font-size: 2rem;
        position: absolute;
        margin-top: -25px;
        width: 300px;
        text-align: end;
        color: var(--main-color);
        font-weight: 600;
    }
    .progress-bar #p1{
        margin-left: -10px;
    }
    .progress-bar #p2{
        margin-left: -35px;
    }
    .progress-bar #p3{
        margin-left: -95px;
    }
    .progress-bar #p4{
        margin-left: -110px;
    }
    .progress-bar #p5{
        text-align: center;
    }
    .skills{
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .education-items::before{
        left: 6px;
    }
    .education-item:nth-child(odd){
        padding: 0;
        text-align: left;
    }
    .education-item:nth-child(odd),.education-item:nth-child(even){
        padding-left: 37px;
    }
    .education-dot{
        left: 0;
    }

    .contact form{
        flex-direction: column;
    }
    .contact form .input-box input, .contact form textarea{
        width: 80%;
    }
}